@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

.contact {
    width: 100%;
    background-color: #ffffff;
}

.contact .container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 65px 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-heading h1 {
    font-weight: 600;
    color: black;
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 1.2rem;
}

.contact-heading h1 span {
    color: #FF9000;
}

.text {
    color: #FF9000;
    line-height: 1.1;
    font-size: 1rem;
}

.form-wrapper {
    max-width: 32rem;
}

.contact-form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap {
    position: relative;
}

.input-wrap.w-100 {
    grid-column: span 2;
}

.contact-input {
    width: 100%;
    background-color: #f2f2f2;
    padding: 1.5rem 1.35rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #111111;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(#FF9000, 92%, 54%, 0.169);
    transition: 0.3s;
}

.contact-input:hover {
    background-color: #f2f2f2;
}

.input-wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: #494848;
    pointer-events: none;
    transition: .25s;
}

.input-wrap .icon {
    position: absolute;
    right: calc(1.35rem - 8px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #636262;
    font-size: 1.25rem;
    transition: .3s;
}

textarea.contact-input {
    resize: none;
    width: 100%;
    min-height: 150px;
}

textarea.contact-input ~ label {
    top: 1.2rem;
    transform: none;
}

textarea.contact-input ~ .icon {
    top: 1.3rem;
    transform: none;
}

.input-wrap.focus .contact-input {
    background-color: #f5f4f4;
    border: 2px solid hsl(#FF9000, 91%, 55%);
    box-shadow: 0 0 0 5px hsla(#111111, 91%, 55%, 0.11);
}

.input-wrap.focus label {
    color: #FF9000;
}

.input-wrap.focus .icon {
    color: #FF9000;
}

.input-wrap.not-empty label {
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 200%;
}

.btn {
    font-family: "Rubik", sans-serif;
    padding: 1.1rem 2rem;
    background-color: #FF9000;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #653400;
}

.right {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.dashed-wave {
    position: absolute;
    z-index: 3;
    height: 130%;
    bottom: 60%;
    left: -28px;
}

#dashed-wave {
    fill: none;
    stroke: #828282;
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: 0.8;
}

/* Media Queries */
@media (max-width: 1000px) {
    .text {
        font-size: 0.9rem;
    }

    .contact-form {
        grid-template-columns: 1fr; /* Cada input en su propia fila */
    }

    .contact-input {
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem;
    }

    .input-wrap label {
        font-size: .91rem;
    }

    .contact-buttons {
        flex-direction: column;
        width: 100%; /* Ajustar el ancho de los botones */
    }

    .btn {
        width: 100%; /* Botón a 100% en móviles */
    }
}

@media (max-width: 800px) {
    .contact-heading h1 {
        font-size: 3rem;
    }
}

@media (max-width: 650px) {
    .contact-heading h1 {
        font-size: 2.6rem;
    }

    .left {
        padding: 50px 1.5rem; /* Espaciado */
    }
}
