@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

.contact{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contact .container > div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 65px 1.5rem 0 ;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 0.5;
}
/*z index era 3*/
.contact-heading h1{
    font-weight: 600;
    color: black;
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom:1.2rem ;
}

.contact-heading h1 span{
    color: #FF9000;
}

.text{
    color: #FF9000;
    line-height: 1,1;
    font-size: 1rem;
}

.form-wrapper{
    max-width: 32rem;
}

.contact-form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap{
    position: relative;
}

.input-wrap.w-100 {
    grid-column: span 2;
}

.contact-input {
    width: 100%;
    background-color: #f2f2f2;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #111111;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(#FF9000, 92%, 54%, 0.169);
    transition: 0.3s;
}

.contact-input:hover{
    background-color: #f2f2f2;
}

.input-wrap label{
    position: absolute;
    top: 50%;
    left:calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: #494848;
    pointer-events: none;
    transition: .25s;
}

.input-wrap .icon{
    position: absolute;
    right: calc(1.35rem - 8px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #636262;
    font-size: 1.25rem;
    transition: .3s;
}

.input-wrap .icon.inp-1{
    right: calc( 1rem + 30px);
}

textarea.contact-input{
    resize: none;
    width: 100%;
    min-height: 150px;
}

textarea.contact-input ~ label {
    top: 1.2rem;
    transform: none;
}  

textarea.contact-input ~ .icon {
    top: 1.3rem;
    transform: none;
}  

.input-wrap.focus .contact-input{
    background-color: #f5f4f4;
    border: 2px solid hsl(#FF9000, 91%, 55%);
    border-color: #FF9000;
    box-shadow: 0 0 0 5px hsla(#111111, 91%, 55%, 0.11);
}

.input-wrap.focus label{
    color: #FF9000;
}

.input-wrap.focus .icon{
    color: #FF9000;
}

.input-wrap.not-empty label{
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.btn{
    font-family: "Rubik", sans-serif;

    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: #FF9000;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: #653400;
}

.btn.upload{
    font-family: "Rubik", sans-serif;
    position: relative;
    background-color: #eeeeee ;
}

.btn.upload span {
    font-family: "Rubik", sans-serif;
    color: #111111;
}

.btn.btn.upload:hover{
    background-color: #FF9000;
}

.btn.upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111111;
    cursor: pointer;
    opacity: 0;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    overflow: hidden;
    pointer-events: none;
}

.image-wrapper{
    position: relative;
    grid-column: 2;
}

.wave-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 110%;
}

.dashed-wave{
    position: absolute;
    z-index: 3;
    height: 130%;
    bottom: 60%;
    left: -28px;
    transform: translateY(50%);
}

#dashed-wave{
    fill: none;
    stroke: #828282;
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: 0.8;
}

@media (max-width: 1000px){
    .text{
        font-size: 0.9rem;
    }

    .contact-form{
        display: grid;
        margin-top:1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
    }

    .contact-input{
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem -2px) 1.2rem;      
    }
    
    .input-wrap label{
        font-size: .91rem;
        left: calc(1.2rem + 2px);
    }

    .input-wrap .icon{
        font-size: 1.1rem;
        left: calc(12rem + 20px);
    }
    /*iconos individuales*/
    .input-wrap .inp-1{
        font-size: 1.1rem;
        left: calc(11rem + 2px);
    }

    .input-wrap .icon-resp{
        font-size: 1.1rem;
        left: calc(29rem + 10px);
    }
    /*------------------------*/

    textarea.contact-input ~ label {
        top: 1.2rem;
    }

    textarea.contact-input ~ .icon {
        top: 1.33rem;
    }

    .input-wrap.focus .contact-input{
        box-shadow: 0 0 0 3.5px var(#111111) ;
    }

    .input-wrap.not-empty label {
        font-size: 0.61rem;
    }

    .inp-wrap-1{
        width: 80%;
    }

    .contact-buttons{
        column-gap: 0.8rem;
        margin-top: 0.45rem;
    }

    .btn{
       padding: 1rem 1.5rem;
       font-size: 0.87rem; 
    }

    .dashed-wave{
        display: none;
    }
}

@media (max-width:800px) {
    .contact-heading h1{
        font-size: 3rem;
    }
}
@media (max-width:650px) {
    .contact-heading h1{
        font-size: 2.6rem;
    }
    .left{
        padding: 50px 1.5ren 0;
    }
    .inp-wrap-1{
        width: 100%;
    }
}