body{
    font-family: "Rubik", sans-serif;
    background: #edf2f7;
    overflow-x: hidden;
}

/*mensaje a usuario no registrado btn*/
.register-buttonn{
    margin-top: 10px;
    color: #FFF;
    background-color: #FF9000;
    padding: 10px;
    border-radius: 10px;
}

.register-buttonn:hover{
    background-color: #c07007;
}

/*---------------*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Columnas: 1 para categorías, 2 para cursos, 1 para imagen */
    grid-template-rows: 200px ;
    grid-template-columns: 30em;
    grid-gap: 10px; /* Espaciado entre las columnas */
}

/*banner cursos*/

.container-cursos {
    margin-bottom: 20px;
}

/* Estilos para la imagen principal */
.img-main {
    position: relative;
    height: 250px; /* Altura por defecto */
    width: 100%; /* Ancho completo */
    overflow: hidden; /* Evitar desbordamiento */
}

/* Estilos para el título */
.h1-cursos {
    color: #fff;
    position: absolute;
    top: 60px; /* Espacio desde la parte superior */
    font-size: 90px; /* Tamaño de fuente por defecto */
}

/*-----------------------*/

 /*diseño card categoria*/
.categorias {
    margin-left: 45px;
    width: 75%;
    padding: 10px;
    border-color: #111;
    outline: 1px solid;
    border-radius: 10px;
    background-color: #ffffff5e;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.categorias div {
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
}

.categorias h2 {
    font-size: 25px;
    padding-left: 12px;
}

.cat-input {
    margin: 5px;
    color: #FF9000;
}

input[type="checkbox"] {
    appearance: none; /* Oculta el estilo nativo */
    width: 17px; /* Tamaño del checkbox */
    height: 17px; /* Tamaño del checkbox */
    margin-right: 5px;
    border: 2px solid #ccc; /* Borde del checkbox */
    border-radius: 4px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
}

input[type="checkbox"]:checked {
    background-color: #f3f3f3; /* Color de fondo cuando está marcado */
    border-color: #FF9000; /* Cambia el color del borde */
}

/*----------------------*/

.element-cat {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    grid-column: 1; /* Columna de categorías */
    grid-row: 1 ; /* Ocupa la primera y segunda fila */
}

.cursitos-cont {
    grid-column: 2/4; /* Columna de tarjetas */
    grid-row: 1 / 3; /* Ocupa la primera y segunda fila */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 20px; /* Espacio entre tarjetas */
    width: 80%;
}

.img-categorias {
    margin-left: 60px;
    grid-column: 1; /* Columna de imagen */
    grid-row: 2 ; /* Ocupa la primera y segunda fila */
    width: 70% !important;
    height: auto !important;
}

.course-card {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.361); /* Color de fondo para las tarjetas */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 8px; /* Esquinas redondeadas */
    display: flex; /* Para alinear contenido */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 16.563em; /* Altura fija para todas las tarjetas */
    text-align: center; /* Centrar texto */
}

.course-card:hover{
    transform: scale(1.05);
}

.course-image {
    width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
    height: 87%; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre el espacio sin distorsionar la imagen */
    border-radius: 5px 5px 0 0; /* Esquinas redondeadas para la imagen */
}

.course-card h3 {
    margin: 5px 0 0; /* Margen superior para el título */
    font-size: 1.2em; /* Tamaño del texto */
}

/* Media Queries para hacer responsive */
@media (max-width: 1200px) {
    .img-main {
        height: 200px;
    }

    .h1-cursos {
        font-size: 70px;
        top: 40px;
    }

    .cursitos-cont {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas menores a 1200px */
    }

    .course-card {
        width: 14em;
        height: 14em;
    }
}

/* Responsivo para pantallas menores a 966px */
@media (max-width: 966px) {
    .wrapper {
        grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
        grid-template-rows: auto; /* Ajustar las filas automáticamente */
    }

    .element-cat {
        position: relative;
        left: 40px;
        width: 80%; /* Ajusta el ancho a 100% en pantallas pequeñas */
        margin: 10px 0; /* Espaciado vertical entre elementos */
        grid-column: 1; /* Ocupa toda la columna en pantallas pequeñas */
    }

    .cursitos-cont {
        padding-left: 50px;
        grid-column: 1; /* Las tarjetas ocuparán toda la columna */
        grid-row: 2; /* Asegúrate de que las tarjetas estén debajo de la tarjeta de categorías */
        grid-template-columns:1fr 1fr 1fr; /* Mantener dos columnas para las tarjetas */
        display: grid; /* Mantiene el diseño de la cuadrícula */
        grid-gap: 30px; /* Espacio entre tarjetas */
    }

    .img-categorias {
        display: none; /* Ocultar la imagen de la categoría en pantallas pequeñas */
    }

    .categorias {
        margin-left: 0; /* Sin margen en pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho */
    }

    .course-card {
        height: auto; /* Mantener la altura fija para las tarjetas */
        padding: 10px; /* Espacio interno adicional */
        text-align: center; /* Asegura que el texto se mantenga centrado */
        border-radius: 8px; /* Mantener las esquinas redondeadas */
        background-color: rgba(211, 211, 211, 0.361); /* Color de fondo original */
        border: 1px solid #ccc; /* Borde opcional */
        display: flex; /* Para alinear contenido */
        flex-direction: column; /* Apilar elementos verticalmente */
    }

    .course-image {
        width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
        height: 80%; /* Altura fija para las imágenes */
        object-fit: cover; /* Cubre el espacio sin distorsionar la imagen */
        border-radius: 5px 5px 5px 5px; /* Esquinas redondeadas para la imagen */
    }

    .course-card h3 {
        font-size: 1em; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
        max-height: 30px; /* Ajustar la altura máxima permitida */
    }
}

@media (max-width: 900px) {
    .img-main {
        height: 200px; /* Ajustar la altura aún más en pantallas pequeñas */
    }

    .h1-cursos {
        font-size: 50px; /* Seguir reduciendo el tamaño de la fuente */
        top: 70px; /* Ajustar la posición del título */
    }
    .course-image{
        height: 100%;
    }
}

@media (max-width: 800px) {
    .cursitos-cont{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .img-main {
        height: 130px; /* Altura mínima para pantallas pequeñas */
    }

    .h1-cursos {
        font-size: 30px; /* Tamaño de fuente más pequeño */
        top: 50px; /* Ajustar la posición del título */
    }

    .course-card h3 {
        font-size: 1em; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }
    
    .cursitos-cont{
        grid-template-columns: 1fr;
        padding-left: 3em;
    }

    .course-card{
        width: 17em;
    }

    .course-image{
        height: 100%;
    }
}