.container-member {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las tarjetas */
    flex-wrap: wrap; /* Para que las tarjetas se ajusten en dispositivos más pequeños */
    padding: 20px;
}

.card-member {
    width: 300px; /* Ancho de las tarjetas */
    height: 450px; /* Aumenta el alto de las tarjetas para ver más imagen */
    background-color: #ffffff57; /* Color de fondo de las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    display: flex;
    flex-direction: column; /* Permitir apilar elementos */
    justify-content: flex-start; /* Alinear hacia arriba */
    transition: transform 0.3s ease; /* Animación suave */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Efecto hover para dar un poco de interacción */
.card-member:hover {
    transform: translateY(-10px); /* Eleva la tarjeta al pasar el ratón */
    background-color: #ff910035; 
}

.card-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 275px; /* Aumenta la altura de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen y cubre el área */
}

.image-container {
    position: relative;
    width: 100%;
    height: 275px; /* Aumenta la altura del contenedor de la imagen */
    overflow: hidden; /* Asegura que las imágenes no se desborden */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que las imágenes llenen el contenedor */
    object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto al pasar el ratón */
.card-member:hover .image-container img {
    transform: scale(1.1); /* Escala la imagen al pasar el ratón */
}

.card-member:hover .image-container img:first-child {
    opacity: 1; /* Muestra la primera imagen */
}

.card-member:hover .image-container img:last-child {
    opacity: 0; /* Oculta la segunda imagen */
}

.card-content {
    padding: 10px;
    text-align: center; /* Centrar texto */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .card-member {
        width: 80%; /* Reduce el tamaño de las tarjetas en pantallas pequeñas */
    }
}
