@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


main{
    font-family: "Anek Kannada", sans-serif;
}

/* Contenedor de suscripciones */
#subscriptions-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado para alinearse al inicio */
    flex-wrap: wrap; /* Permitir que las tarjetas se ajusten en filas */
    gap: 20px; /* Espaciado entre las tarjetas */
    padding: 40px; /* Espaciado interno */
    min-height: 50vh; /* Centrar verticalmente ocupando toda la altura */
    box-sizing: border-box;
}

/* Estilo de cada tarjeta de suscripción */
.subscription-card {
    background-color: #ffffff60; /* Fondo blanco semitransparente para la tarjeta */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Evitar desbordamiento del contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar por la tarjeta */
    width: 300px; /* Ancho fijo para la tarjeta */
    display: flex;
    flex-direction: column; /* Para acomodar la imagen y el contenido verticalmente */
    height: 100%; /* Permitir que la tarjeta tome la altura completa del contenedor */
}

/* Efecto al pasar el ratón sobre la tarjeta */
.subscription-card:hover {
    transform: translateY(-5px); /* Levanta la tarjeta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.subscription-img {
    width: 100% !important;
    height: 50% !important; /* Ajusta la altura como desees */
    object-fit: contain !important;
}


/* Títulos de las suscripciones */
.subscription-card h2 {
    font-size: 1.5rem; /* Tamaño de fuente del título */
    margin: 16px; /* Margen alrededor del título */
    color: #333; /* Color del texto */
    text-align: center;
}

/* Descripción de las suscripciones */
.subscription-card p {
    font-size: 1rem; /* Tamaño de fuente de la descripción */
    margin: 0 16px 16px; /* Margen para el texto */
    color: #555; /* Color del texto */
    text-align: center;
}

/* Precio de la suscripción */
.subscription-card p:last-of-type {
    font-size: 20px;
    font-weight: bold;
    background-color: #FF9000;
    color: white;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 10px;
}

.subscription-card p:last-of-type:hover{
    background: #c07007;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
